@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

.fi-sidebar-item.fi-active a{
    background-color: black;
}

.fi-header a{
    color: black;
}

.fi-wi-stats-overview-stat{
    background-color: black;
}

.fi-wi-stats-overview-stat .grid .flex span{
    font-size: 16px;
}

.fi-wi-stats-overview-stat .grid .flex span,
.fi-wi-stats-overview-stat .grid div{
    color: white;
}
