.page-heading{
    margin-top: 102px;
}

.vc_col-sm-4{
    width: 33%;
}

.vc_col-sm-4:nth-of-type(2) {
    width: 34%;
}

.modded-class-content{
    padding: 55px 185px 10px 0;
}

.megamenu ul.nav-menu>li:hover .landing-avater{
    color: unset !important;
}

.megamenu ul.nav-menu>li:before, .megamenu ul.nav-menu>.landing-avater:after{
    border-bottom: unset !important;
}

.content-main.landing-content{
    min-height: 330px !important;
}

.header-container .logo img{
    margin: 10px 5px 10px 5px;
    height: 85px;
}

.vc_custom_1428996205928{
    background-image: url('/assets/landing-bg.jpg') !important
}

.megamenu ul.nav-menu>li:after{
    left: 0;
}

.megamenu ul.nav-menu>li:hover:before, .megamenu ul.nav-menu>li:hover:after, .megamenu ul.nav-menu>li.active:before, .megamenu ul.nav-menu>li.active:after, .megamenu ul.nav-menu>li:hover:before, .megamenu ul.nav-menu>li:hover:after{
    width: 100%;
}

.contents-main{
    transition: all ;
}

.sports-banner{
    height: 130vh;
    /* margin-top: 100px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr;
}

.sports-banner-bottom{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}

.sports-banner-child-featured{
    grid-column: 1 / -1;
}

.sports-banner-img{
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-body{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    padding-left: 10px;
}

.banner-body-sports{
    display: flex;
    height: 100%;
    width: 100%;
    padding-top: 50px;
    padding-left: 10px;    
}

.feature-text{
    transform: translateX(20%);
}

.slide-in-top {
    -webkit-animation: slide-in-top 1s cubic-bezier(0.645, 0.045, 0.355, 1.000) ;
    animation: slide-in-top 1s cubic-bezier(0.645, 0.045, 0.355, 1.000) ;
    animation-fill-mode: forwards;
}

.slide-in-top-y {
    -webkit-animation: slide-in-top-y 1s cubic-bezier(0.645, 0.045, 0.355, 1.000) ;
    animation: slide-in-top-y 1s cubic-bezier(0.645, 0.045, 0.355, 1.000) ;
    animation-fill-mode: forwards;
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.delay-1{
    animation-delay: 1s;
    opacity: 0;
}

.delay-2{
    animation-delay: 2s;
    opacity: 0;
}

.booking-top-button{
    /* transform: ; */
    transform: translatex(50%) translateY(-60px);
}

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-100px);
                transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-100px);
                transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}
  

@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.feature-text-style{
    font-size: 6rem;
    font-weight: bold;
    padding: 30px 10px 30px 0px;
    color: #dbf227;
}

.div-heading{
    transform: translateY(10px);
    width: fit-content;
    padding: 9.71429px;
    font-size: 17.4857px;
    font-weight: bold;
}

.div-heading a{
    color: black !important;
}

.success-time > span{
    display: inline-block;
    white-space: nowrap;
    overflow-y: auto;
}

.success-ms-layer{
    display: inline-block !important;
}

.feature-logo-style{
    color: #dbf227;
    border-color: #dbf227;
}

.page-footer{
    font-size: 1.5rem;
}

.textwidget,
.footer-right .line1 a{
    color: #000000 !important;
    font-weight: 600 !important;
}

.product-content .info-products:hover, .our-trainers .info-products:hover,.product-image-wrapper:hover .info-products{
    background: none repeat scroll 0 0 #000;
}

.header-container-3 #open-button{
    top: 30px !important;
}

#open-button{
    background: none repeat scroll 0 0 #000;
}

.footer-title h4{
    color: #000000 !important;
    font-weight: 900 !important;
}

.page-footer a{
    color: black;
}

.page-footer{
    background: none repeat scroll 0 0 #dbf227;
}

.mainnav .nav-menu li .child-nav{
    background-color: black;
    border: 1px solid black;
}

.megamenu>.nav-menu>li>.child-nav:before{
    border-color: transparent transparent transparent #000;
}

.megamenu .nav-menu>li ul.child-nav li a{
    color: #dbf227;
}
.megamenu .nav-menu>li ul.child-nav li>a:hover{
    color: white;
}
.join a, .watch-video a{
    border: 2px solid #dbf227;
    color: #dbf227;
}

.footer-link{
    color: black;
    text-align: end;
}

.booking-times:checked ~ div > span{
    color: black;
    font-weight: 600;
}

@keyframes slide-in-top-y {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translate(10px, -150px);
        opacity: 1;
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@media only screen and (max-width: 770px) {
    .footer-link{
        text-align: center;
    }

    .slide-in-top-y{
        display: none;
    }

    .menu-wrap{
        color: black !important;
    }

    .menu-wrap li a{
        color: black !important;
        font-weight: 700;
    }
    #close-button{
        right: 5px !important;
        color: black !important;
    }

    .sports-banner-child-featured{
        grid-column: unset;
        grid-row: unset;
    }

    .sports-banner{
        margin-top: 0;
    }

    .feature-text{
        transform: translateX(0%);
    }
    .feature-text-style{
        line-height: 0;
    }
    .sports-banner{
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 1fr 1fr 1fr;
    }
    .banner-body-sports{
        padding-top: 0px;
    }
    .feature-text-style{
        font-size: 2rem;
    }
    .sports-banner{
        height: fit-content;
    }
    .ms-layer.msp-cn-5-3{
        font-size: 20px !important;
        line-height: normal;
    }
    .total-amount{
        margin-top: 20px !important;
    }
    .advance-amount{
        margin-top: 60px !important;
    }
    .success-date{
        margin-top: 100px !important;
    }
    .success-time{
        margin-top: 150px !important;
    }
}
@media only screen and (max-width: 600px) {
    .msp-cn-5-1{
        font-size: 12px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

.header-container-2, .header-container-3{
    background: none repeat scroll 0 0 #dbf227!important;
}

.megamenu ul>li>a{
    color: black;
}

.megamenu ul.nav-menu>li:hover a, .megamenu ul.nav-menu>li.active{
    color: black;
}

.megamenu ul.nav-menu>li:before, .megamenu ul.nav-menu>li:after{
    border-bottom: 3px solid #000000;
}